@model testthithu.Models.Sanpham

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Home", FormMethod.Post, new { enctype = "multipart/form-data" })) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Sanpham</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.TenSanpham, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenSanpham, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenSanpham, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MoTa, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MoTa, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MoTa, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Gia, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Gia, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Gia, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TrangThai, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(
                model => model.TrangThai,
                new List<SelectListItem>
                {
                    new SelectListItem { Text = "Hoạt động", Value = "1" },
                    new SelectListItem { Text = "Không hoạt động", Value = "0" }
                },
               
                new { @class = "form-control" }
                 )
                @Html.ValidationMessageFor(model => model.TrangThai, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AnhDaiDien, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="Anh" class="form-control" />
                @Html.ValidationMessageFor(model => model.AnhDaiDien, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NoiBat, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(
                    model => model.NoiBat,
                    new List<SelectListItem>
                    {
                        new SelectListItem { Text = "Nổi bật", Value = "1" },
                        new SelectListItem { Text = "Không nổi bật", Value = "0" }
                    },
                    
                    new { @class = "form-control" }
                     )
                @Html.ValidationMessageFor(model => model.NoiBat, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PhanLoaiSanPhamID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(
                model => model.PhanLoaiSanPhamID,
                new List<SelectListItem>
                {
                    new SelectListItem { Text = "Shoes", Value = "1" },
                    new SelectListItem { Text = "Tshirts", Value = "2" },
                    new SelectListItem { Text = "Pants", Value = "3" },
                    new SelectListItem { Text = "Hoodie", Value = "4" },
                    new SelectListItem { Text = "Outer", Value = "5" },
                    new SelectListItem { Text = "Jackets", Value = "6" },
                    new SelectListItem { Text = "Accessories", Value = "7" },
                },
                
                new { @class = "form-control" }
                 )
                @Html.ValidationMessageFor(model => model.PhanLoaiSanPhamID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
